html {
    background: transparent;
    background-image: linear-gradient(270deg, silver, darkslategray);
    -webkit-font-smoothing: antialiased;
}

body {
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: darkslategray;
    font-family: "Helvetia Neue",Helvetica ,Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: darkslategray;
    font-weight: bold;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

pre {
	background:whitesmoke;
	font-size:13px;
}

a:link {
    color: royalblue;
    text-decoration: none;
    font-weight: 
}

a:visited {
    color: royalblue;
    text-decoration: none;
    font-weight: 
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 1px;
    display: block;
    margin: 1em auto;
    max-width: 95%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 2.5px;
}

code {
		background: #DDDDDD;
}
